/* This actually just goes to a picture of "AI" */

:root {
  --image-url: url("https://media.istockphoto.com/id/2207141986/photo/ai-governance-and-responsive-generative-artificial-intelligence-use-compliance-strategy-and.jpg?s=612x612&w=0&k=20&c=JK0ezw-lui-0gxbKB2rWqUMD3gza0pUI_aeb7-GkFBI=")
}

body, html {
  padding: 0;
  margin: 0;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.container2 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.descriptioncontainer {
    text-align: center;
    font-family: "Borel", cursive;
}

#chardescription {
    border: 2px rgb(160, 160, 160) solid;
    padding: 10px;
    width: 60%;
    align-items: center;
    border-radius: 30px;
}

#imgupload {
  display: none;
}

.fileuploadbtn {
  width: 40px;
  height: 40px;
  margin: 30px;
  text-align: center;;
  border-radius: 40px;
  border: 2px dashed rgb(156, 156, 156);
  background: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.fileuploadbtn:hover {
  transform: rotate(30deg);
}

.makebtn {
    padding: 10px;
    background-color: rgb(53, 53, 255);
    border: none;
    border-radius: 40px;
    color: white;
    margin-left: 20px;
    transition: 0.3s ;
}

.makebtn:hover {
    background-color: rgb(0, 153, 158);
    cursor: pointer;
}

.options {
    margin-top: 30px;
}

#model {
    padding: 4px;
    border-radius: 40px;;
    width: 100%;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
}

.hidden {
  visibility: hidden;
  display: none;
}

.imgcontainer {
    position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;;
}

.error_box {
  background-color: rgb(255, 138, 138);
  border: rgb(255, 55, 55) 2px solid;
  margin: 20px;
  border-radius: 30px;
  font-family: sans-serif;
  color: rgb(173, 0, 0);
  padding: 10px;
  font-weight: bold;
  width: 80%;
  display: flexbox;
}

#displayimg {
  border-radius: 30px;
  width: auto;
  height: 300px;
  object-fit: contain;
   /* background-image: var(--image-url); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 30px;

  justify-content: center;
  align-items: center;

}

.imgcontainer {
  justify-content: center;
  display: flex;
}

.imgcontrol {
  padding: 10px;
  margin: 10px;
  border-radius: 30px;;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.9);
}

.imgcontrol:hover {
  background-color: rgba(113, 234, 255, 0.9);
  width: 30px;
  height: 30px;
  padding: 20px;
}

.btncontainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}